{% extends 'admin.html.twig' %}

{% block title %}New Cycle{% endblock %}

{% block body %}
    <h1>Create new Cycle</h1>

    {{ include('cycle/_form.html.twig') }}

    <a href="{{ path('cycle_index') }}">back to list</a>
{% endblock %}
