{% extends 'admin.html.twig' %}

{% block title %}Edit Filiare{% endblock %}

{% block body %}
    <h1>Edit Filiare</h1>

    {{ include('filiare/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('filiare_index') }}">back to list</a>

    {{ include('filiare/_delete_form.html.twig') }}
{% endblock %}
