<form method="post" action="{{ path('emploi_groupe_delete', {'id': emploi_groupe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emploi_groupe.id) }}">
    <button class="btn">Delete</button>
</form>
