{% extends 'admin.html.twig' %}

{% block title %}New EmploiEnseignant{% endblock %}

{% block body %}
    <h1>Create new EmploiEnseignant</h1>

    {{ include('emploi_enseignant/_form.html.twig') }}

    <a href="{{ path('emploi_enseignant_index') }}">back to list</a>
{% endblock %}
