{% extends 'admin.html.twig' %}

{% block title %}EmploiEnseignant{% endblock %}

{% block body %}
    <h1>EmploiEnseignant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emploi_enseignant.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('emploi_enseignant_index') }}">back to list</a>

    <a href="{{ path('emploi_enseignant_edit', {'id': emploi_enseignant.id}) }}">edit</a>

    {{ include('emploi_enseignant/_delete_form.html.twig') }}
{% endblock %}
